{% extends 'headerAdmin.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    {% block  header %}
        {{ parent() }}
    {% endblock %}
    <h1>Produit index</h1>

    <div class="container">

        <div class="row">
            <div class="col"> <h1 class="text-center text-danger"> Nos plats </h1></div>
        </div>
        <div class="row justify-content-center">

            {% for produit in produits %}

                <div class='card text-center m-3' style='width: 15rem;'>
                    <img class='card-img-top' src="{{ asset('images/'~produit.image) }}">
                    <div class='card-body'>
                        <h5 class='card-title text-danger'>{{ produit.libelle }}</h5>
                        <p class='card-text'> {{ produit.prix }} €</p>
                        <a id='mywish' href="#" class='btn btn-primary'>Ajouter <i class="fas fa-shopping-cart"></i></a>
                        
                    </div>
                </div>





                       
                    {% else %}
                        
                            <h2>Pas de produit</h2>
                        
                    {% endfor %}
                    </div>

                    </div>

                
        {% endblock %}
