{% extends 'headerAdmin.html.twig' %}

{% block title %}ajout Produit{% endblock %}



{% block body %}
    <h1>ajouter un  Produit</h1>
    
    {% block  header %}
        {{ parent() }}
    {% endblock %}

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">back to list</a>
{% endblock %}
